@media (max-width: 990px) { 
	.title{
		font-size: 0.30em;
	}
  .colMedia{
  	border-right: 3px dashed #14AAE3;  
    border-bottom:  3px dashed #14AAE3;  
    height: 200px;
  }
  .validate{
    position: relative;
    top: 2.5em;
  }
  .image{
  	width: 50px;
  	height: 20px;
  	position: relative;
  	bottom: 3em;
  }
 }