@media (max-width: 990px) { 
	body{
		height: 130vh;
	}
	.title{
		font-size: 2em;
	}
  .colMedia{
  	border-right: 3px dashed #14AAE3;  
    border-bottom:  3px dashed #14AAE3;  
    height: 200px;
  }
  .validate{
    position: relative;
    top: 2.5em;
  }
  .image{
  	width: 350px;
  	height: 150px;
  	position: relative;
  	bottom: 3em;
  }
 }